.blog-container {
  width: 700px;
  height: 600px;
  margin: 4px;
  font-family: Open Sans;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.75);

  @media #{$desktop} {
    @include window-scrollbar();
  }

  pre {
    font-size: 0.8rem;
    @media #{$mobile} {
      white-space: pre;
      overflow-x: auto;
    }
    @media #{$desktop} {
      white-space: pre-wrap;
    }
  }
}

.window--maximized {
  .blog-container {
    width: calc(100% - 8px);
    flex: 1 0 auto;
    box-sizing: border-box;
  }
}


.window {
  @media #{$mobile} {
    .blog-container {
      width: 100%;
      flex: 1 0 auto;
      box-sizing: border-box;
      border: none;
      margin: 0 !important;
    }
  }
}

.blog-hero-image {
  width: 700px;
  height: 250px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-title {
  font-weight: bolder;
  font-family: sans-serif;
  color: #ff3a3a;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 24px;
}

.blog-author-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 12px 0;
}

.blog-author-avatar {
  height: 2.5rem !important;
  width: 2.5rem !important;
  border-radius: 50%;
  margin: 2px !important;
}

.blog-meta {
  display: flex;
  flex-flow: column nowrap;
}

.blog-author {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.2rem;
  display: inline-block;
  vertical-align: super;
  padding-left: 12px;
}

.blog-date {
  text-transform: uppercase;
  font-size: 0.7rem;
  display: inline-block;
  vertical-align: super;
  padding-left: 12px;
}

.blog-content {
  padding: 8px 24px;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  color: black;

  hr {
    height: 2px;
    background-color: #eee;
    border: none;
    margin: 24px 0 12px 0;
  }
}