.blog-container {
  width: 700px;
  height: 600px;
  background: $window-base-color;
  margin: 4px;
  font-family: Open Sans;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-right: 2px solid rgba(255, 255, 255, 0.7);
}

.blog-content {
  max-width: 700px;
  padding: 8px 24px;
  background-color: white;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;

  .title {
    font-weight: bolder;
    font-family: sans-serif;
    color: #ff3a3a;
    font-size: 2rem;
  }

  .date {
    margin: 0 0 4px 0;
    text-transform: uppercase;
    font-size: 0.7rem;
    display: inline-block;
    vertical-align: super;
    padding-left: 12px;
  }

  .avatar {
    margin: 0;
    text-align: center;
    display: inline-block;
    img {
      height: 2rem;
      width: 2rem;
    }
  }

  hr {
    height: 2px;
    background-color: #eee;
    border: none;
    margin: 32px 0;
  }
}