.desktop {
  z-index: 100;
  position: relative;

  @media #{$desktop} {
    background-color: $default-desktop-background-color;
    flex: 1 0 auto;
  }
  @media #{$mobile} {
    flex: 1 0 auto;
    background:
      linear-gradient(
        0deg,
        #025192,
        $default-mobile-background-color
        ) !important;
  }
}
