.desktop {
  z-index: 100;
  position: relative;

  @media #{$desktop} {
    background-color: $default-desktop-background-color;
    flex: 1 0 auto;
  }
  @media #{$mobile} {
    flex: 1 0 auto;
    display: flex;
    background:
      linear-gradient(
        0deg,
        #025192,
        $default-mobile-background-color
        ) !important;
  }
}

@media #{$mobile} {
  .desktop-body {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
}
