.gameboy-wrapper {
  display: flex;
  width: 350px;
  height: 600px;
  background-color: #d3d4d9;
  border-radius: 20px;
  border-bottom-right-radius: 168px 80px;
  border-left: 4px solid rgba(255, 255, 255, 0.6);
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 8px;
  flex-flow: column nowrap;
}

.gameboy-top {
  height: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.3);
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
}

.gameboy-top-left {
  width: 30px;
  height: 30px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 0px rgba(255, 255, 255, 0.3);
  flex: 0 0 auto;
}

.gameboy-top-logo {
  padding: 4px 8px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0px 0 8px 16px;
  color: rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.3), -1px -1px rgba(0, 0, 0, 0.02);
  font-family: Open Sans;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  flex: 0 0 auto;
  width: 56px;
}

.gameboy-top-center {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.gameboy-switch {
  display: flex;
  flex-flow: row nowrap;
  height: 5px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: -3px 12px;
  padding: 0 1px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  cursor: pointer;
}

.gameboy-switch-on {
  .gameboy-on-switch {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  .gameboy-off-switch {
    background-color: none;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}

.gameboy-on-switch,
.gameboy-off-switch {
  width: 15px;
  height: 5px;
  box-sizing: border-box;
  border-radius: 2px;
}

.gameboy-off-switch {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.gameboy-top-right {
  width: 30px;
  height: 30px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
}

.gameboy-screen-wrapper {
  width: 300px;
  height: 230px;
  background-color: #7a7e89;
  margin: 24px auto 0 auto;
  border-radius: 10px;
  border-bottom-right-radius: 50px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 0px rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
}

.gameboy-screen-header {
  width: 280px;
  height: 4px;
  border-top: 2px solid #8e326b;
  border-bottom: 2px solid #48465c;
  margin: 8px auto;
}

.gameboy-screen {
  width: 200px;
  height: 170px;
  margin: 0 auto;
  background-color: #727e00;
  border-radius: 4px;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  box-shadow: 
    1px 0px 0px rgba(255, 255, 255, 0.3),
    0px 1px 0px rgba(255, 255, 255, 0.3);
  border-left: 4px solid rgba(0, 0, 0, 0.4);
  border-top: 4px solid rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;

  &:after {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 
      1px 0px 0px rgba(255, 255, 255, 0.3),
      0px 1px 0px rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    top: 50%;
    left: -30px;
    transition: 200ms background-color;
    transition-delay: 300ms;
  }
}

.gameboy-screen-on {
  &:after {
    background-color: #48ff00;
  }
}

.gameboy-content-wrapper {
  transition: 200ms opacity, 100ms height;
  transition-delay: 400ms;
  display: flex;
  width: 100%;
  align-self: center;
  overflow: hidden;
}

.gameboy-branding {
  display: flex;
  flex-flow: row nowrap;
  padding: 4px 24px 24px 24px;
  font-family: sans-serif;
  font-family: Open Sans;
  color: #44465f;
  align-items: baseline;
}

.gameboy-company {
  font-weight: bold;
  text-shadow: 1px 0px #44465f;
}

.gameboy-console {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 2px;
}

.gameboy-tm {
  font-size: 8px;
}

.gameboy-control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.gameboy-dpad {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
  margin-left: 24px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.02);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.gameboy-dpad-up,
.gameboy-dpad-left,
.gameboy-dpad-center,
.gameboy-dpad-right,
.gameboy-dpad-down {
  width: 25px;
  height: 25px;
  background-color: #282d33;
  box-sizing: border-box;
  cursor: pointer;
}

.gameboy-dpad-up {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  border-right: none;
  box-shadow: 
    -1px -1px 0px black,
    1px -1px 0px black;
}

.gameboy-dpad-down {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black;
}

.gameboy-dpad-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  border-right: none;
  box-shadow: 
    -1px -1px 0px black,
    -1px 1px 0px black;
}

.gameboy-dpad-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    1px 1px 0px black,
    1px -1px 0px black;
}

.gameboy-dpad-center {
  position: relative;
  &:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    border-radius: 50%;
  }
}

.gameboy-dpad-row {
  display: flex;
  flex-flow: row nowrap;
}

.gameboy-dpad-row--one,
.gameboy-dpad-row--two,
.gameboy-dpad-row--three {
  justify-content: center;
}

.gameboy-buttons {
  width: 120px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  margin-right: 24px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.02);
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  transform: rotate(-25deg);
}

.gameboy-button-divider {
  flex: 1 0 auto;
}

.gameboy-button-a,
.gameboy-button-b {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8e326b;
  flex: 0 0 auto;
  margin: 0 8px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px black;
  box-sizing: border-box;
  cursor: pointer;
}

.gameboy-alt-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 24px 0;
  font-size: 10px;
}

.gameboy-alt-button {
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: monospace;
  color: #44465f;
  font-weight: bold;
  transform: rotate(-25deg);
}

.gameboy-alt-select,
.gameboy-alt-start {
  height: 8px;
  width: 40px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    height: 12px;
    width: 46px;
    background-color: rgba(0, 0, 0, 0.05);
    top: -2px;
    left: -4px;
    border-radius: 12px;
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}

.gameboy-speakers {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: -8px;
}

.gameboy-speaker {
  width: 8px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 4px;
  border-radius: 3px;
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.gameboy-speaker-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transform: rotate(-25deg);
  position: relative;
  padding: 0 24px 24px 24px;
}
