.icon-container {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 65px;
  padding: 12px 8px;
}

.icon--selected {
  .icon-name {
    background-color: $icon-active-color;
    border: 1px dotted $icon-dotted-color;
    color: rgba(255, 255, 255, 0.9) !important;
  }

  .icon-image {
    &:after {
      content: "";
      position: absolute;
      width: 44px;
      height: 44px;
      display: block;
      top: 9px;
      left: 18px;
      opacity: 0.6;
      background-color: $icon-active-color;
      border: 1px dotted $icon-dotted-color;
    }
  }
}

.icon-name {
  box-sizing: border-box;
  padding: 4px 0px;
  text-align: center;
  font-size: 12px;
  color: white;
  margin: 4px 0;
  font-family: $icon-font;
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.icon-image {
  padding: 2px;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.minesweeper--icon {
  background-image: url(../images/minesweeper-icon.png);
}

.folder--icon {
  background-image: url(../images/folder-icon.png);
}

.blog--icon {
  background-image: url(../images/note-icon.png);
}
