.icon-container {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 65px;
  padding: 12px 8px;
}

.icon-name {
  text-align: center;
  font-size: 12px;
  color: white;
  margin: 4px 0;
  font-family: $icon-font;
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon-image {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.minesweeper--icon {
  background-image: url(../images/minesweeper-icon.png);
}

.folder--icon {
  background-image: url(../images/folder-icon.png);
}
