.icon-container {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 65px;
  padding: 12px 8px;
}

.icon--selected {
  .icon-name {
    background-color: $icon-active-color;
    border: 1px dotted $icon-dotted-color;
    color: rgba(255, 255, 255, 0.9) !important;
    white-space: normal;
  }

  .icon-image {
    &:after {
      content: "";
      position: absolute;
      width: 44px;
      height: 44px;
      display: block;
      top: 9px;
      left: 18px;
      opacity: 0.6;
      background-color: $icon-active-color;
      border: 1px dotted $icon-dotted-color;
    }
  }
}

.icon-name {
  box-sizing: border-box;
  padding: 4px 0px;
  text-align: center;
  font-size: 12px;
  color: white;
  margin: 4px 0;
  font-family: $icon-font;
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.icon-image {
  padding: 2px;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-image__MINESWEEPER {
  background-image: url(../images/minesweeper-icon.png);
}

.icon-image__FOLDER {
  background-image: url(../images/folder-icon.png);
}

.icon-image__FOLDER_CLOSED {
  background-image: url(../images/folder-closed-icon.png);
}

.icon-image__BLOG {
  background-image: url(../images/wordpad-icon.png);
}

.icon-image__CODE {
  background-image: url(../images/note-icon.png);
}

.icon-image__CODE_DIR {
  background-image: url(../images/code-reader-icon.png);
}

.icon-image__TETRIS {
  background-image: url(../images/tetris-icon.gif);
}

.icon-image__ERROR {
  background-image: url(../images/error-icon.png);
}

.icon-image__DEMO {
  background-image: url(../images/ie-icon.png);
}

.icon-image__FACEBOOK {
  background-image: url(../images/facebook-share-logo.png);
}

.icon-image__LINKEDIN {
  background-image: url(../images/linkedin-share-logo.png);
}
