$mobile: "screen and (max-width : 768px)";
$desktop: "screen and (min-width : 769px)";

// Base Reset
body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
}

// Desktop
$default-desktop-background-color: #008080;
$default-mobile-background-color: #5f87b2;
$navigation-bar-color: #bfb8bf;

.desktop {
  @media #{$desktop} {
    background-color: $default-desktop-background-color;
    flex: 1 0 auto;
  }
  @media #{$mobile} {
    background-color: $default-mobile-background-color
  }
}

// Navigation Bar
.navigation-bar {
  height: 30px;
  flex: 0 0 auto;
  background-color: $navigation-bar-color;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-content: center;
}

.navigation-bar-start-button {
  background-color: $navigation-bar-color;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  margin: 2px;
  font-weight: 900;
  font-family: Arial;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  &:active {
    border-right: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8);
    border-left: 3px solid rgba(0, 0, 0, 0.8);
  }
}

.navigation-bar-start-button__logo {
  background-image: url(../images/window-logo.png);
  height: 14px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1px;
}

.navigation-bar--divider {
  display: block;
  width: 2px;
  margin: 4px 4px;
  border-radius: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.navigation-bar--application-dock {
  flex: 1 0 auto;
}

.navigation-bar--clock {
  background-color: $navigation-bar-color;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  margin: 2px;
  font-size: 11px;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 8px;
}
