// Base Variables;
$mobile: "screen and (max-width : 768px)";
$desktop: "screen and (min-width : 769px)";

// Desktop
$default-desktop-background-color: #008080;
$default-mobile-background-color: #5f87b2;
$icon-font: 'Lekton';

// Navigation Bar
$navigation-bar-color: #bfb8bf;

// Window
$window-base-color: #bebebe;
$window-header-color: #000080;
$icon-active-color: #000080;
$icon-dotted-color: #98a632;

// Base Reset
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
}

@import './icons.scss';
@import './desktop.scss';
@import './navigation.scss';
@import './window.scss';
