// Base Variables;
$mobile: "screen and (max-width : 768px)";
$desktop: "screen and (min-width : 769px)";

// Desktop
$default-desktop-background-color: #008080;
$default-mobile-background-color: #5f87b2;
$icon-font: 'Lekton';

// Navigation Bar
$navigation-bar-color: #bfb8bf;

// Window
$window-base-color: #bebebe;
$window-header-active-color: #000080;
$window-header-inactive-color: #848484;
$window-header-title-active-color: #FFFFFF;
$window-header-title-inactive-color: #b9b9b9;

$icon-active-color: #000080;
$icon-dotted-color: #98a632;

$gameboy-tile-color: #272820;
$gameboy-screen-color: #727e00;

@mixin window-scrollbar {
  &::-webkit-scrollbar {
    background-color: #DDD;
    width: 20px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-button {
    height: 20px;
    width: 20px;
    background-color: $window-base-color;
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: block;
  }

  &::-webkit-scrollbar-button:vertical:start:increment,
  &::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
  }

  /* Place The scroll up button at the up */
  &::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(/images/up-arrow-icon.png);
  }

  &::-webkit-scrollbar-button:vertical:increment {
    background-image: url(/images/down-arrow-icon.png);
  }

  &::-webkit-scrollbar-thumb {
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    background-color: $window-base-color;
  }
}

@font-face{
  font-family: "Digital";
  src: url(/fonts/digital.ttf);
}

html {
  @media #{$mobile} {
    font-size: 14px;
  }
  @media #{$desktop} {
    font-size: 16px
  }
}

// Base Reset
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media #{$mobile} {
  .app-wrapper {
    flex-direction: column-reverse;
  }
}

@import './highlight.scss';
@import './markdown-air.scss';
@import './icons.scss';
@import './desktop.scss';
@import './navigation.scss';
@import './window.scss';
@import './minesweeper.scss';
@import './folders.scss';
@import './blogs.scss';
@import './code.scss';
@import './error.scss';
@import './gameboy.scss';
@import './tetris.scss';

.code-reader-wrapper {
  background: $window-base-color;
  margin: 2px 4px 4px 4px;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  font-family: $icon-font;
  display: flex;
  flex-flow: row nowrap;
}

.code-reader__nav {
  background-color: white;
  font-size: 14px;
  overflow-x: auto;
  overflow-y: auto;
  padding-right: 12px;
  width: 150px;
}

.code-reader-item-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -12px;
    border-top: 1px dotted rgba(0, 0, 0, 0.4);
    width: 10px;
  }
}

.code-reader-item-icon {
  height: 16px;
  width: 16px;
  margin: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 0 auto;
}

.code-reader-item-name {
  font-family: $icon-font;
  font-size: 12px;
  font-weight: bold;
  padding-right: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.code-reader__nav-dir--content {
  margin-left: 24px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    border-left: 1px dotted rgba(0, 0, 0, 0.4);
    height: calc(100% - 9px);
  }
}

.code-reader__nav-dir--closed {
  .code-reader__nav-dir--content {
    display: none;
  }
}

.code-reader__nav-file--selected {
  background-color: $icon-active-color;
  color: white;
}
