.window-container {
  display: inline-flex;
  flex-flow: column nowrap;
  background-color: $window-base-color;
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  height: inherit;
  width: inherit;
  box-sizing: border-box;
}

.window-header,
.window-action-bar {
  display: flex;
  flex-flow: row nowrap;
  margin: 1px;
  height: 24px;
  align-items: center;
  flex: 0 0 auto;
}

.window--selected {
  z-index: 100;
  .window-header {
    background-color: $window-header-active-color;
  }
  .window-header__name {
    color: $window-header-title-active-color;
  }
}

@media #{$mobile} {
  .window:not(.window--selected),
  .window-header {
    display: none !important;
  }

  .window-container {
    border: none !important;
    background-color: white !important;
  }

  .window-action-bar {
    color: $window-header-active-color !important;
    background-color: rgba($navigation-mobile-bar-color, 0.2) !important;
    margin: 0 !important;
  }
}

.window--autohide {
  .window-container {
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-left: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
    background-color: rgba($window-base-color, 0);
  }
  .window-header {
    opacity: 0;
  }
  .window-action-bar {
    opacity: 0;
  }
}

.window-header {
  background-color: $window-header-inactive-color;
}

.window-header__name {
  color: $window-header-title-inactive-color;
  font-family: $icon-font;
  font-size: 14px;
  padding: 0 4px;
  font-weight: bold;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.window-header__icon {
  height: 16px;
  width: 16px;
  margin: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 0 auto;
}

.window-header__buttons {
  margin-right: 4px;
  flex: 0 0 auto;
}

.window-header__button {
  border-radius: 1px;
  outline: none;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: $window-base-color;
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  position: relative;

  & + .window-header__button {
    margin-left: 1px;
  }

  &:active {
    &:not(.window-header__button--no-maximize) {
      border-top: 2px solid rgba(0, 0, 0, 0.8);
      border-left: 2px solid rgba(0, 0, 0, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      border-right: 1px solid rgba(255, 255, 255, 0.6);
      &:before {
        background-color: rgba(0, 0, 0, 0.1);
        left: 1px;
        top: 1px;
      }
    }
  }
}

.window-header__button--minimize,
.window-header__button--maximize,
.window-header__button--no-maximize,
.window-header__button--close {
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
  }
} 
.window-header__button--minimize {
  &:before {
    border-bottom: 2px solid black;
    width: 14px;
    height: 12px;
  }
}

.window-header__button--maximize {
  &:before {
    border: 1px solid black;
    border-top: 3px solid black;
    width: 12px;
    height: 10px;
  }
}

.window-header__button--no-maximize {
  &:before {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    width: 12px;
    height: 10px;
  }
}

.window {
  @media #{$mobile} {
    height: 100% !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.window--maximized {
  .window-header__button--maximize {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      border: 1px solid black;
      border-top: 3px solid black;
      background-color: $window-base-color;
      width: 7px;
      height: 5px;
      bottom: 2px;
    }

    &:before {
      top: 0;
      right: 2px;
      left: initial;
      border: 1px solid black;
      border-top: 3px solid black;
      width: 7px;
      height: 5px;
    }

    &:active {
      &:after {
        bottom: 1px;
        left: 1px;
      }

      &:before {
        top: 1px;
        left: initial;
        right: 1px;
      } 
    }
  } 
}

.window-header__button--close {
  margin-left: 2px !important;
  &:before {
    font-family: Arial;
    content: "X";
    text-align: center;
    font-size: 13px; 
  }
}

.window-action-bar--active {
  .window-action-bar__action {
    z-index: 1000;
  }
}

.window-action-bar__action {
  font-family: Lekton;
  font-size: 14px;
  margin: 0 4px;
  padding: 4px 8px;
  font-weight: bold;
  cursor: pointer;
  position: relative;

  &:first-letter {
    text-decoration: underline;
  }
}

.window-action-bar__action--selected {
  background-color: $window-header-active-color;
  color: white;
  font-weight: normal;
}

.window-menu {
  position: absolute;
  min-width: 150px;
  white-space: nowrap;
  top: 23px;
  left: 0px;
  background-color: $window-base-color;
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

  div {
    color: black;
    padding: 4px 20px;
    font-weight: bold;
    position: relative;

    &:hover {
      background-color: $window-header-active-color;
      color: white;
      font-weight: normal;
    }

    &:first-letter {
      text-decoration: underline;
    }

    &.checked {
      &:before {
        content: '\2713 ';
        position: absolute;
        left: 4px;
        top: 4px;
      }
    }

    &.fb-share-btn,
    &.li-share-btn {
      padding-left: 24px; 
      &:before {
        content: '';
        height: 16px;
        width: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 4px;
        top: 4px;
      }
    }

    &.fb-share-btn {
      &:before {
        background-image: url(../images/facebook-share-logo.png);
      }
    }

    &.li-share-btn {
      &:before {
        background-image: url(../images/linkedin-share-logo.png);
      }
    }

    &.divider {
      margin: 4px;
      padding: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

@media #{$mobile} {
  .window-menu {
    background-color: white;
    border: 2px solid black;
    box-shadow: none;
    div {
      background-color: rgba($navigation-mobile-bar-color, 0.4);
      border: 1px solid transparent;
      &.divider {
        margin: 0;
        padding: 0;
        border-top: 1px solid black;
        border-bottom: 0;
      }
    }
  }
}

